* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header{
    height:50px;
    line-height: 50px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li{
    list-style-type: none;
    display:block;
    
}